{% load static %}
<div class="div-group" id="achievement">
    <header class="header">
        <div>
            <h1 class="fw-bold text-center">施工実績</h1>
            <div class="div-img"><img src="{% static 'img/izuden03.jpg' %}" alt="izuden_achievement"></div>
            <h4 class="text-center">
                当社は25年以上にわたり病院・マンション・ 百貨店・ 空港<br>
                公共施設の電気設備工事に多数携わらせて頂いております<br>
                これからも地域の皆様に安心していただけるよう<br>
                快適な生活空間,オフィス環境作りのお手伝いが出来ますよう<br>
                社員一同努めてまいります。<br>
            </h4>
        </div>
    </header>
</div>
