{% load static %}
<div class="div-group" id="achievement">
    <header class="header">
        <div>
            <h1 class="fw-bold text-center">施工実績</h1>
            <div class="div-img"><img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/izuden03.jpg" alt="izuden_achievement"></div>
            <h4 class="text-center">
                <span>当社は25年以上にわたり</span><span>病院・マンション・百貨店・空港</span><br>
                <span>公共施設の電気設備工事に</span><span>多数携わらせて頂いております</span><br>
                <span>これからも地域の皆様に</span><span>安心していただけるよう</span><br>
                <span>快適な生活空間、オフィス環境作りの</span><span>お手伝いが出来ますよう</span><br>
                <span>社員一同努めてまいります。</span><br>
            </h4>
        </div>
    </header>
</div>
