{% load static %}
<div class="div-group" id="address">
    <div>
        <h1 class="font-weight-bold text-center">交通アクセス</h2>
        <h4 class="text-center">南海本線忠岡駅より徒歩5分</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.6623813429846!2d135.4016514!3d34.486088099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000c5babf967439%3A0xa10d09a7285ff228!2z44CSNTk1LTA4MDQg5aSn6Ziq5bqc5rOJ5YyX6YOh5b-g5bKh55S66aas54Cs77yR5LiB55uu77yU4oiS77yR77yW!5e0!3m2!1sja!2sjp!4v1661490335988!5m2!1sja!2sjp"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>