{% load static %}
<div class="div-group" id="address">
    <div class="address">
        <div class="container-fruid">
            <div class="row justify-content-around">
                <div class="col-6 service-columns">
                    <img src="{% static 'img/header-bg.jpg' %}" alt="">
                </div>
                <div class="col-6 service-columns">
                    <h1>コンセプト</h1>
                    <h6>住所</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, omnis excepturi in voluptatum veniam voluptate quidem, unde accusantium commodi maiores sint quas voluptates optio dignissimos repellat temporibus repellendus quod labore.</p>
                    <h6>連絡先</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ut similique reprehenderit, fugiat minus dignissimos repellat velit quia at natus commodi dolorem laboriosam est possimus nulla hic! Quas, culpa alias.</p>
                </div>
            </div>
        </div>
    </div>    
</div>