{% load static widget_tweaks %}


<div id="formpage">
    <h1>お問い合わせ</h1>
    <div id="formpage_div"><img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/img.PNG"
            alt="izuden_formpage"></div>
    <h2 class="mb-5">
        <span>お問い合わせフォーム</span><br>
        <span>当社へのお仕事依頼・採用</span><span>等のご質問など</span><br>
        <span>お気軽にご連絡ください</span>
    </h2>
    <form action="{% url 'app:index' %}" method="POST">
        {% csrf_token %}
        {% with form as f %}
        <!-- select -->
        <div id="select">
            <h2>お問い合わせ内容<span class="badge-required">必須</span></h2>
            <hr>
            {{ f.select | add_class:"id_select" }}
            {{ f.select.errors }}
        </div>
        <!-- name -->
        <div id="name">
            <h2>お名前<span class="badge-required">必須</span></h2>
            <hr>
            <div class="d-flex justify-content-around">
                <div>
                    <label id={{f.first_name.id_for_label}} class="h6">{{ f.first_name.label }}</label>
                    {{ f.first_name | add_class:"form-control" | add_class:f.first_name.id_for_label}}
                    {{ f.first_name.errors }}
                </div>
                <div>
                    <label id={{f.last_name.id_for_label}} class="h6">{{ f.last_name.label }}</label>
                    {{ f.last_name | add_class:"form-control" | add_class:f.last_name.id_for_label}}
                    {{ f.last_name.errors }}
                </div>
            </div>
        </div>
        <div id="ruby" class="mt-3">
            <div class="d-flex justify-content-around">
                <div>
                    {{ f.first_ruby | add_class:"form-control" | add_class:f.first_ruby.id_for_label}}
                    {{ f.first_ruby.errors }}
                </div>
                <div>
                    {{ f.last_ruby | add_class:"form-control" | add_class:f.last_ruby.id_for_label}}
                    {{ f.last_ruby.errors }}
                </div>
            </div>
        </div>
        <!-- gender -->
        <div id="gender" class="mt-3">
            <h2>性別<span class="badge-required">必須</span></h2>
            <hr>
            {{ f.gender | add_class:"id_gender text-center"}}
            {{ f.gender.errors }}
        </div>
        <!-- age  -->
        <div id="age" class="mt-3">
            <h2>生年月日<span class="badge-required">必須</span></h2>
            <hr>
            {{ f.age | add_class:"id_age text-center"}}
            <p>{{ f.age.help_text|safe }}</p>
            {{ f.age.errors }}
        </div>
        <!-- sender -->
        <div id="sender" class="mt-3">
            <h2 class="label-h2">メールアドレス<span class="badge-required">必須</span></h2>
            <label id={{f.sender.id_for_label}} class="h6"></label>
            <hr>
            {{ f.sender | add_class:"form-control" | add_class:f.sender.id_for_label}}
            {{ f.sender.errors }}
        </div>
        <!-- tel_number -->
        <div id="tel_number" class="mt-3">
            <h2 class="label-h2">電話番号<span class="badge-required">必須</span></h2>
            <label id={{f.tel_number.id_for_label}} class="h6"></label>
            <hr>
            {{ f.tel_number | add_class:"form-control" | add_class:f.tel_number.id_for_label}}
            {{ f.tel_number.errors }}
        </div>
        <!-- address-->
        <div class="postal_code">
            <h2>住所</h2>
            <hr>
            <div class="d-flex justify-content-center">
                <div>
                    <label id={{f.postal_code.id_for_label}} class="h6">{{ f.postal_code.label }}<span
                            class="badge-required">必須</span></label>
                    {{ f.postal_code | add_class:"form-control" | add_class:f.postal_code.id_for_label}}
                    {{ f.postal_code.errors }}
                </div>
                <div class="ms-4">
                    <label id={{f.todouhuken.id_for_label}} class="h6">{{ f.todouhuken.label }}<span
                            class="badge-required">必須</span></label>
                    {{ f.todouhuken | add_class:"form-control" | add_class:f.todouhuken.id_for_label}}
                    {{ f.todouhuken.errors }}
                </div>
            </div>
            <div class="mt-3">
                <label id={{f.sikucyouson.id_for_label}} class="h6 ms-5">{{ f.sikucyouson.label }}<span
                        class="badge-required">必須</span></label>
                {{ f.sikucyouson | add_class:"form-control" | add_class:f.sikucyouson.id_for_label}}
                {{ f.sikucyouson.errors }}
            </div>
            <div class="mt-3">
                <label id={{f.bannti.id_for_label}} class="h6 ms-5">{{ f.bannti.label }}<span
                        class="badge-required">必須</span></label>
                {{ f.bannti | add_class:"form-control" | add_class:f.bannti.id_for_label}}
                {{ f.bannti.errors }}
            </div>
            <div class="mt-3">
                <label id={{f.heyabangou.id_for_label}} class="h6 ms-5">{{ f.heyabangou.label }}</label>
                {{ f.heyabangou | add_class:"form-control" | add_class:f.heyabangou.id_for_label}}
                {{ f.heyabangou.errors }}
            </div>
        </div>
        <!-- message -->
        <div class="message">
            <h2 class="label-h2 mb-3">お問い合わせ詳細<span class="badge-required">必須</span></h2>
            <hr class="mb-4">
            <label id={{f.message.id_for_label}} class="h6"></label>
            {{ f.message | add_class:"form-control" | add_class:f.message.id_for_label}}
            {{ f.message.errors }}
        </div>
        {% endwith %}
        <button type="submit">送信</button>
    </form>
</div>
<div class="sentence" >
    <div class="container">
        <div class="row justify-content-around">
            <div class="col">
                <p id="formpage_sentence">
                    <span>＜個人情報の利用目的＞</span><br>
                    <span> お客様よりお預かりした</span><span>個人情報は、以下の</span><span>目的に限定し</span><br>
                    <span>利用させていただきます。</span><br>
                    <span>・本サービスに関する顧客管理</span><br>
                    <span>・本サービスの運営上</span><span>必要な事項のご連絡</span><br>
                    <br>
                    <span>＜個人情報の委託について＞</span>
                    <span>弊社では、利用目的の達成に</span><span>必要な範囲において、</span><br>
                    <span>個人情報を外部に</span><span>委託する場合があります。</span><br>
                    <span>これらの委託先に対しては</span><span>個人情報保護契約等の措置をとり、</span><br>
                    <span>適切な監督を行います。</span><br>
                    <br>
                    <span>＜個人情報を与えなかった</span><span>場合に生じる結果＞</span><br>
                    <span>必要な情報を頂けない場合は、</span><span>それに対応した弊社のサービスを</span><br>
                    <span>ご提供できない場合が</span><span>ございますので</span><span>予めご了承ください。</span><br>
                    <br>
                </p>
            </div>
            <div class="col-6">
                <p id="formpage_sentence">
                    <span>＜個人情報の提供について＞</span><br>
                    <span>当社ではお客様の同意を得た</span><span>場合または法令に</span><span>定められた場合を除き、</span><br>
                    <span>取得した個人情報を</span><span>第三者に提供することは</span><span>いたしません。</span><br>
                    <br>
                    <span>＜個人情報の安全管理＞</span><br>
                    <span>当社では、個人情報の</span><span>漏洩等がなされないよう、</span><br>
                    <span>適切に安全管理</span><span>対策を実施します。</span><br>
                    <br>
                    <span>＜個人情報の開示･訂正・削除</span><span>･利用停止の手続について＞</span><br>
                    <span>当社では、お客様の個人情報の</span><span>開示･訂正･削除・利用停止の手続を</span><br>
                    <span>定めさせて頂いております。<br></span>
                    <span>ご本人である事を確認のうえ、</span><span>対応させて頂きます。</span><br>
                    <span>個人情報の開示･訂正･削除</span><span>・利用停止の具体的</span><span>手続きにつきましては、</span><br>
                    <span>お電話でお問合せ下さい。</span><br>
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <h1 id="apperance" class="text-center fw-bold mb-5">会社外観写真</h1>
    <div id="formpage_div">
        <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/izuden04.png" alt="izuden_formpage">
    </div>
</div>
