<nav class="navbar navbar-expand-lg navbar-light">
<!-- fixed-top -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">有限会社 和泉電設</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#overview">会社案内</a>
                <a class="nav-link active" aria-current="page" href="#address">交通アクセス</a>
                <a class="nav-link active" aria-current="page" href="#service">事業内容</a>
                <a class="nav-link active" aria-current="page" href="#recruitment">採用情報</a>
                <a class="nav-link active" aria-current="page" href="#achievement">施工実績</a>
                <a class="nav-link active" aria-current="page" href="#formpage">お問い合わせ</a>
            </div>
        </div>
    </div>
</nav>
