<div class="div-group" id="overview">
    <div class="overview">
        <h1 class="text-center fw-bold mb-4">会社案内</h1>
        <table align="center" border="2" rules="all">
            <thead align="center">
                <tr>
                    <th>会社概要</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>会社名</td>
                    <td>有限会社和泉電設</td>
                </tr>
                <tr>
                    <td>所在地</td>
                    <td>〒595-0804大阪府泉北郡忠岡町馬瀬1-4-16</td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>0725-21-5572</td>
                </tr>
                <tr>
                    <td>FAX番号</td>
                    <td>0725-21-5538</td>
                </tr>
                <tr>
                    <td>代表者</td>
                    <td>代表取締役　山田幸嗣</td>
                </tr>
                <tr>
                    <td>設立</td>
                    <td>1996年2月1日</td>
                </tr>
                <tr>
                    <td>資本金</td>
                    <td>300万円</td>
                </tr>
                <tr>
                    <td>建設業許可番号</td>
                    <td>大阪府知事許可　(2)第113747</td>
                </tr>
                <tr>
                    <td>電気工事業届出</td>
                    <td>大阪知事届出　第0012-0020号</td>
                </tr>
                <tr>
                    <td>関西電気工事業協同組合</td>
                    <td>第21647号</td>
                </tr>
                <tr>
                    <td>従業員</td>
                    <td>10人</td>
                </tr>
                <tr>
                    <td>事業内容</td>
                    <td>電気工事業</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table align="center" border="2" rules="all">
            <thead align="center">
                <tr>
                    <th>沿革</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1996年2月</td>
                    <td>創業</td>
                </tr>
                <tr>
                    <td>1999年2月</td>
                    <td>有限会社和泉電設設立</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
