{% load static %}
<div class="div-group" id="recruitment">
    <div class="rucruitment">
        <div class="container">
            <h1 class="fw-bold text-center mb-5">新卒採用</h1>
        </div>
        <div id="img_div">
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/image6.png" alt="izuden_rucruitment" class="mb-3" id="recruitment_img">
        </div>
        <table border="2" id="recruitment_table">
            <tr>
                <th colspan="2">新卒採用</th>
            </tr>
            <tr>
                <td>募集要項</td>
                <td>電気工事士</td>
            </tr>
            <tr>
                <td>募集学科</td>
                <td>高校卒業(普通・電気科・商業科等）<br>
                    専門学校卒業
                </td>
            </tr>
            <tr>
                <td>給与</td>
                <td>基本給 210,000円<br>
                    試用期間【1カ月】試用期間中は労働条件異なる 日給10,000円
                </td>
            </tr>
            <tr>
                <td>諸手当</td>
                <td>家族手当/現場手当/技能手当/皆勤手当て<br>
                    夜間手当/残業手当/調整手当</td>
            </tr>
            <tr>
                <td>昇給</td>
                <td>有り</td>
            </tr>
            <tr>
                <td>賞与</td>
                <td>年２回 (７月･１２月）</td>
            </tr>
            <tr>
                <td>勤務地</td>
                <td>大阪府内</td>
            </tr>
            <tr>
                <td>制度</td>
                <td>退職金共済制度/業務に関わる資格取得に掛かる費用免除</td>
            </tr>
            <tr>
                <td>勤務時間</td>
                <td>8:00～17:00(休憩1時間）</td>
            </tr>
            <tr>
                <td>休日/休暇</td>
                <td>週休2日制<br>
                    夏期/年末年始/有給休暇(年間10日）(勤務6ヶ月以上)</td>
            </tr>
            <tr>
                <td>資格</td>
                <td>普通自動車運転免許 ※他に必要資格取得は会社が支援致します。</td>
            </tr>
            <tr>
                <td>待遇・福利厚生</td>
                <td>社会保険完備/交通費一部支給/退職金制度あり</td>
            </tr>
            <tr>
                <td>備考</td>
                <td>090-2708-4121 お電話での応募可能です。<br>
                    お気軽にお問い合わせください。</td>
            </tr>
        </table>
        <div class="container">
            <h1 class="fw-bold text-center mb-5 mt-5">中途採用</h1>
        </div>
        <div id="img_div">
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/image7.png" alt="izuden_rucruitment" class="mb-3" id="recruitment_img">
        </div>
        <table border="2" id="recruitment_table">
            <tr>
                <th colspan="2">経験者<br>
                    未経験者(中途)採用</th>
            </tr>
            <tr>
                <td>募集要項</td>
                <td>電気設備の施工管理</td>
            </tr>
            <tr>
                <td>募集学科</td>
                <td>高校卒業(普通・電気科・商業科等）<br>
                    専門学校卒業
                </td>
            </tr>
            <tr>
                <td>給与</td>
                <td>経験者 基本給230,000円<br>
                    未経験者 基本給210,000円<br>
                    試用期間【3ヵ月】労働条件 同条件
                </td>
            </tr>
            <tr>
                <td>諸手当</td>
                <td>家族手当/現場手当/技能手当/皆勤手当て<br>
                    夜間手当/残業手当/調整手当</td>
            </tr>
            <tr>
                <td>昇給</td>
                <td>有り</td>
            </tr>
            <tr>
                <td>賞与</td>
                <td>年２回 (７月･１２月）</td>
            </tr>
            <tr>
                <td>勤務地</td>
                <td>大阪府内</td>
            </tr>
            <tr>
                <td>制度</td>
                <td>退職金共済制度/業務に関わる資格取得に掛かる費用免除</td>
            </tr>
            <tr>
                <td>勤務時間</td>
                <td>8:00～17:00(休憩1時間）</td>
            </tr>
            <tr>
                <td>休日/休暇</td>
                <td>週休2日制<br>
                    夏期/年末年始/有給休暇(年間10日）(勤務6ヶ月以上)</td>
            </tr>
            <tr>
                <td>資格</td>
                <td>普通自動車運転免許 ※他に必要資格取得は会社が支援致します。</td>
            </tr>
            <tr>
                <td>待遇・福利厚生</td>
                <td>社会保険完備/交通費一部支給/退職金制度あり</td>
            </tr>
            <tr>
                <td>備考</td>
                <td>090-2708-4121 お電話での応募可能です。<br>
                    お気軽にお問い合わせください。</td>
            </tr>
        </table>
    </div>
</div>
