<div class="div-group" id="recruitment">
    <div class="recruitment">
        <h1 class="text-center fw-bold mb-4">採用情報</h1>
        <p class="text-center mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, suscipit nemo consequuntur vel laborum a alias.
            Inventore sequi modi quidem rerum reprehenderit quae tempore temporibus consequuntur! Quod sint at <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusamus asperiores eius inventore. Pariatur
            quidem adipisci totam similique nisi, quasi eum perspiciatis sequi ab et unde soluta corrupti repellendus iure!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, suscipit nemo consequuntur vel laborum a alias.
            Inventore sequi modi quidem rerum reprehenderit quae tempore temporibus consequuntur! Quod sint at <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusamus asperiores eius inventore. Pariatur
            quidem adipisci totam similique nisi, quasi eum perspiciatis sequi ab et unde soluta corrupti repellendus iure!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, suscipit nemo consequuntur vel laborum a alias.
            Inventore sequi modi quidem rerum reprehenderit quae tempore temporibus consequuntur! Quod sint at <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusamus asperiores eius inventore. Pariatur
            quidem adipisci totam similique nisi, quasi eum perspiciatis sequi ab et unde soluta corrupti repellendus iure!
        </p>
    </div>
</div>
