{% load static %}
<div class="div-group" id="recruitment">
    <div class="rucruitment">
        <div class="container">
            <h1 class="fw-bold text-center mb-5">新卒採用</h1>
        </div>
        <div id="img_div">
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/image6.png" alt="izuden_rucruitment"
                class="mb-3" id="recruitment_img">
        </div>
        <table id="recruitment_table">
            <tr>
                <th colspan="2">新卒採用</th>
            </tr>
            <tr>
                <td>募集要項</td>
                <td>電気工事士</td>
            </tr>
            <tr>
                <td>募集学科</td>
                <td><span>高校卒業</span>
                    <span>(普通・電気科・商業科等）</span><br>
                    <span>専門学校卒業</span>
                </td>
            </tr>
            <tr>
                <td>給与</td>
                <td><span>月額270,000円〜370,000円</span><br>
                    <span>試用期間【1カ月】</span>
                    <span>試用期間中は労働条件異なる</span>
                    <span>日給10,000円</span>
                </td>
            </tr>
            <tr>
                <td>諸手当</td>
                <td><span>家族手当/現場手当/</span>
                    <span>技能手当/皆勤手当て/</span><br>
                    <span>夜間手当/残業手当/調整手当</span>
                </td>
            </tr>
            <tr>
                <td>昇給</td>
                <td>有り</td>
            </tr>
            <tr>
                <td>賞与</td>
                <td>年２回 (７月･１２月）</td>
            </tr>
            <tr>
                <td>勤務地</td>
                <td>大阪府内</td>
            </tr>
            <tr>
                <td>制度</td>
                <td><span>退職金共済制度/業務に関わる</span>
                    <span>資格取得に掛かる費用免除</span>
                </td>
            </tr>
            <tr>
                <td>勤務時間</td>
                <td>8:00～17:00(休憩1時間）</td>
            </tr>
            <tr>
                <td>休日/休暇</td>
                <td>週休2日制<br>
                    <span>夏期/年末年始/有給休暇(年間10日）</span>
                    <span>(勤務6ヶ月以上)</span>
                </td>
            </tr>
            <tr>
                <td>資格</td>
                <td><span>普通自動車運転免許 </span>
                    <span>※他に必要資格取得は</span>
                    <span>会社が支援致します。</span>
                </td>
            </tr>
            <tr>
                <td><span>待遇・</span>
                    <span>福利厚生</span>
                </td>
                <td><span>社会保険完備/交通費一部支給/</span>
                    <span>退職金制度あり</span>
                </td>
            </tr>
            <tr>
                <td>備考</td>
                <td><span>会社の電話番号 0725-21-5572</span>
                    <span> もしくは担当山田の</span>
                    <span>電話番号 090-2708-4121 </spa><br>
                        <span>にお掛けください。</span>
                </td>
            </tr>
        </table>
        <div class="container">
            <h1 class="fw-bold text-center mb-5 mt-5">中途採用</h1>
        </div>
        <div id="img_div">
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/image7.png" alt="izuden_rucruitment"
                class="mb-3" id="recruitment_img">
        </div>
        <table border="2" id="recruitment_table">
            <tr>
                <th colspan="2">経験者<br>
                    未経験者(中途)採用</th>
            </tr>
            <tr>
                <td>募集要項</td>
                <td>電気設備の施工管理</td>
            </tr>
            <tr>
                <td>募集学科</td>
                <td><span>高校卒業</span>
                    <span>(普通・電気科・商業科等）</span><br>
                    <span>専門学校卒業</span>
                </td>
            </tr>
            <tr>
                <td>給与</td>
                <td><span>月額270,000円〜370,000円</span><br>
                    <span>試用期間【3ヵ月】労働条件 同条件</span>
                </td>
            </tr>
            <tr>
                <td>諸手当</td>
                <td><span>家族手当/現場手当/</span>
                    <span>技能手当/皆勤手当て/</span><br>
                    <span>夜間手当/残業手当/調整手当</span>
                </td>
            </tr>
            <tr>
                <td>昇給</td>
                <td>有り</td>
            </tr>
            <tr>
                <td>賞与</td>
                <td>年２回 (７月･１２月）</td>
            </tr>
            <tr>
                <td>勤務地</td>
                <td>大阪府内</td>
            </tr>
            <tr>
                <td>制度</td>
                <td><span>退職金共済制度/業務に関わる</span>
                    <span>資格取得に掛かる費用免除</span>
                </td>
            </tr>
            <tr>
                <td>勤務時間</td>
                <td>8:00～17:00(休憩1時間）</td>
            </tr>
            <tr>
                <td>休日/休暇</td>
                <td>週休2日制<br>
                    <span>夏期/年末年始/有給休暇(年間10日）</span>
                    <span>(勤務6ヶ月以上)</span>
                </td>
            </tr>
            <tr>
                <td>資格</td>
                <td><span>普通自動車運転免許 </span>
                    <span>※他に必要資格取得は</span>
                    <span>会社が支援致します。</span>
                </td>
            </tr>
            <tr>
                <td><span>待遇・</span>
                    <span>福利厚生</span>
                </td>
                <td><span>社会保険完備/交通費一部支給/</span>
                    <span>退職金制度あり</span>
                </td>
            </tr>
            <tr>
                <td>備考</td>
                <td><span>会社の電話番号 0725-21-5572</span>
                    <span> もしくは担当山田の</span>
                    <span>電話番号 090-2708-4121 </spa><br>
                        <span>にお掛けください。</span>
                </td>
            </tr>
        </table>
    </div>
</div>
