{% load static %}
<div class="div-group" id="service">
    <div class="service">
        <div class="container">
            <h1 class="fw-bold text-center mb-5">サービス内容</h1>
            <div><img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/izuden02.png" alt="izuden_service"></div>
        </div>
        <h2>
            ・工場 公共建物等の電気設備工事、デマンド監視システム<br>
            ・産業用太陽光発電システムの工事、産業用蓄電池<br>
            ・オフィス改修工事、EVの急速充電スタンド工事、LED照明<br>
            ・空調工事、防災工事<br>
            ・テレビアンテナ工事、LAN工事、空調設備工事<br>
            ・火災報知器設備工事、コンセント増設、オール電化工事<br>
            ・太陽光システムの取り付け、一般家庭向けEVの充電スタンド工事<br>
        </h2>
    </div>
</div>