{% load static %}
<div class="div-group" id="service">
    <div class="service">
        <div class="container">
            <h1 class="fw-bold text-center mb-5">サービス内容</h1>
            <div><img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/izuden02.png" alt="izuden_service"></div>
        </div>
        <h4>
            <span>・工場、公共建物等の電気設備工事、</span><span>デマンド監視システム</span><br>
            <span>・産業用太陽光発電システムの工事、</span><span>産業用蓄電池</span><br>
            <span>・オフィス改修工事、EVの急速充電スタンド工事、</span><span>LED照明</span><br>
            <span>・空調工事、防災工事</span><br>
            <span>・テレビアンテナ工事、LAN工事、</span><span>空調設備工事</span><br>
            <span>・火災報知器設備工事、コンセント増設、</span><span>オール電化工事</span><br>
            <span>・太陽光システムの取り付け、</span><span>一般家庭向けEVの充電スタンド工事</span><br>
        </h4>
    </div>
</div>