{% load static %}
<div class="div-group" id="toppage">
    <header class="header">
        <div>
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/image0.png" alt="izuden_header">
        </div>
        <div>
            <img src="https://izumidensetu.s3.ap-northeast-3.amazonaws.com/img/izuden01.png" alt="izuden_header2">
            <h4>
                当社は1996年の創業以来<br>
                お客様に【安心 安全 丁寧かつ迅速】な対応をお届けするサービスを心掛けております。<br>
                信頼と実績を重ねることで携わった多くのお客様の信頼をいただき<br>
                確実な成長を続けてまいりました。<br>
                弊社の確かな経験と技術でさらなる<br>
                安心安全をお届します。<br>
            </h4>
        </div>
    </header>
</div>