@charset "utf-8";

body {
    font-size: 10px;
    margin: 0;
    padding: 0;
}


/* navbar */
nav {
    background-color: #87cefa;
    position: fixed;
}

@media screen and (min-width:769px) {
    nav .navbar-brand {
        padding: 0;
        margin: 0 18vw 0 3vh;
        font-size: 3vw;
        font-weight: bolder;
    }

    nav .nav-link {
        font-size: 1.5vw;
    }
}

nav #navbarNavAltMarkup {
    margin-top: 5px;
    padding-left: 1em;
}

.nav-link {
    text-decoration: underline;
}

.active {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}





@media screen and (max-width:768px) {
    nav {
        height: 120px;
    }
    nav .navbar-brand {
        padding: 0;
        margin: 0 18vw 0 3vh;
        font-size: 6vw;
        font-weight: bolder;
    }
    nav .nav-link {
        font-size: 3vw;
        margin-left: 20px;
    }
    nav .navbar-toggler {
        margin-right: 10px;
        width: 80px;
        height: 80px;
    }
    nav .navbar-toggler-icon {
        margin-right: 10px;
        width: 60px;
        height: 60px;
    }
    nav #navbarNavAltMarkup {
        background-color: #87cefa;
        padding-left: 0;
        width: 100vw;
        z-index: 5;
    }
}

/* toppage*/
header {
    margin-bottom: 10em;
    position: relative;
}

header div {
    text-align: center;
}

header img {
    width: 100vw;
}

#toppage h4 {
    padding: 1em;
    text-align: left;
    font-size: 2.3vw;
}

/* overview */
.overview table {
    margin: auto;
    font-size: 2.1vw;
    width: 85vw;
}

.overview thead {
    text-align: center;
}

.overview td, th {
    text-align: center;
    border: solid 2px rgb(0, 0, 0);
}

/* 文字を中央に揃える */
#header-icon{
  width: 50px;
  color: rgb(255, 255, 255);
  margin-top: -20em;
  top: calc(50% - 0.5rem);
  text-align: center;
  font-weight: bold;
}

#header-title{
    margin-top: -1.5em;
    top: calc(50% - 0.5rem);
    text-align: center;
    font-weight: bold;
}

.card-img-overlay{
    padding: 0;
    top: calc(50% - 0.5rem);
    text-align: center;
    font-weight: bold;
}

p span {
    display: inline-block;
    font-size: 2.4vw;
}


/* service */
.service {
    margin-top: 5em;
}

.service-p span {
    font-size: 1.5em;
}

.service img {
    width: 96vw;
}

.service .container div {
    display: flex;
    justify-content: center;
}

.service h2 {
    text-align: start;
    width: 70vw;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.1vw;
    border: solid 2px;
}

.service span {
    display: inline-block;
}
/* recruitment */

.recruitment {
    margin: 6em 0em 6em 0em;
}

#img_div {
    text-align: center;
}

#img_div img {
    width: 96vw;
}

#recruitment_table {
    margin: auto;
    font-size: 2.1vw;
    width: 85vw;
}

#recruitment_table thead {
    text-align: center;
}

#recruitment_table td, th {
    text-align: center;
    border: none;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
}

/* achievement */
#achievement img {
    width: 96vw;
}

#achievement .div-img {
    display: flex;
    justify-content: center;
}

#achievement h4 {
    margin-top: 1em;
    font-size: 2.5vw;
    line-height: 48px;
}

/* address */

.address {
    margin: 6em 0em 6em 0em;
}

.service-columns h1 {
    font-weight: bold;
    margin: 1em 0 1em 0;
}

#address div iframe {
    display: block;
    margin: auto;
    width: 80vw;
    height: 45vw;
}

#address h1 {
    font-weight: bold;
    padding-bottom: 1em;
}

#address h4 {
    padding-bottom: 1em;
}

/* formpage */
#formpage_div {
    text-align: center;
}

#formpage_div img {
    margin: 0;
    width: 96vw;
}

#formpage h4 {
    margin: 1.5em 0 1.5em 0;
    font-size: 3.5em;
    font-weight: bold;
}

#formpage h2 {
    font-size: 4vw;
}

#form-content {
    font-size: 1.5vw;
}

#id_select {
    width: 150px;
}

#formpage .id_select {
    margin: 30px 0 0 0;
    padding: 0;
    width: 120px;
    list-style: none;
}

#formpage .id_gender {
    margin: 30px 0 0 0;
    padding: 0;
    width: 120px;
    list-style: none;
}

#formpage .field {
    margin-top: 20px;
}

#formpage label {
    display: block;
}

#formpage .id_message {
    resize: none;
    width: 400px;
    height: 300px;
    font-size: 18px;
}

#formpage button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 10%;
    height: 30%;
    font-size: 2.5vw;
}

#formpage .help {
    color: red;
}

#formpage .sentence {
    font-size: 1vw;
    margin: 5em 10em 5em 10em;
    padding: 1.5em;
    border: solid 1px;
}
/* footer */

.footer {
    background-color: #87cefa;
    margin: 3em 0em 0em 0em;
    height: 50px;
}

#copyright {
    margin-top: 15px;
    font-size: 1.2vw;
    vertical-align: middle;
}



/* test css */
.test-div {
    margin-top: 15em;
    margin-bottom: 15em;
}


/* form css */

div h2 {
    text-align: center;
}

.badge-required {
    color: rgb(215, 49, 49);
    padding: 3px;
    margin-left: 10px;
    font-size: 0.7em;
    border: solid;
    border-radius: 6px;
}

/* content */

.id_select {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
}

#id_select div {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

#id_select div label{
    display: inline-block;
    text-align: center;
}

#id_select div label input {
    text-align: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}



#id_first_name {
    text-align: start;
}

#id_last_name {
    text-align: start;
}

.id_gender {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
}

#id_gender div {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

#id_gender div label{
    display: inline-block;
    text-align: center;
}

#id_gender div label input {
    text-align: center;
    margin-left: 8px;
    width: 20px;
    height: 20px;
}


.id_age {
    margin: 1.2em 0 -0.5em;
    text-align: center;
    align-items: center;
    font-size: 20px;
    width: 220px;
    height: 50px;
}

.age p {
    font-weight: bold;
    margin-top: 1.2em;
    font-size: 1.5em;
}

#id_sender {
    width: 400px;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

#id_tel_number {
    width: 400px;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.id_postal_code {
    width: 200px;
}

.h6 {
    text-align: start;
    margin-left: 3px;
}

.id_todouhuken {
    width: 200px;
}

.id_sikucyouson {
    width: 380px;
}

.id_bannti {
    width: 380px;
}

.id_heyabangou {
    width: 380px;
}

form button {
    color: black;
    display: inline-block;
    height: 2.8em;
    width: 8em;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border: solid rgb(88, 88, 88) 2px;
    border-radius: 10px;
}