@charset "utf-8";

body {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px 0 10px 0;
    font-weight: bold;
    text-align: center;
}

span {
    display: inline-block;
}

@media screen and (min-width:960px) {
        h1 {
            font-size: 3vw;
        }
        h4 {
            font-size: 2.1vw;
            padding-left: 20px;
            padding-right: 20px;
        }
        table th,td {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 2.1vw;
        }
        #formpage .id_message {
            margin: auto;
            resize: none;
            width: 50vh;
            height: 300px;
            font-size: 18px;
        }
        #name input {
            width: 15em;
        }

        #ruby input {
            width: 15em;
            color: red;
        }

        .id_sender {
            width: 30em;
        }

        .id_tel_number {
            width: 30em;
        }

        .id_postal_code {
            width: 14.5em;
        }

        .id_todouhuken {
            width: 14.5em;
        }

        .id_sikucyouson {
            width: 30em;
        }

        .id_bannti {
            width: 30em;
        }

        .id_heyabangou {
            width: 30em;
        }
        #formpage_sentence span{
            font-size: 2em;
        }
        .footer h1 {
            font-size: 1vw;
        }
    }
    @media screen and (min-width:520px) and (max-width:960px) {
        h1 {
            font-size: 5vw;
        }
        h4 {
            font-size: 3vw;
            padding-left: 15px;
            padding-right: 15px;
        }
        table th,td {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 3vw;
        }
        #formpage .id_message {
            margin: auto;
            resize: none;
            width: 50vh;
            height: 250px;
            font-size: 18px;
        }
        #name input {
            width: 12.5em;
        }

        #ruby input {
            width: 12.5em;
        }

        .id_sender {
            width: 25em;
        }

        .id_tel_number {
            width: 25em;
        }

        .id_postal_code {
            width: 12em;
        }

        .id_todouhuken {
            width: 12em;
        }

        .id_sikucyouson {
            width: 25em;
        }

        .id_bannti {
            width: 25em;
        }

        .id_heyabangou {
            width: 25em;
        }
        #formpage_sentence span{
            font-size: 2em;
            line-height: 1.5em;
        }
        .footer h1 {
            font-size: 1.5vw;
        }
    }
    @media screen and (max-width:520px) {
        h1 {
            font-size: 7vw;
        }
        h4 {
            font-size: 4vw;
            padding-left: 10px;
            padding-right: 10px;
        }
        table th,td {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 3.6vw;
        }
        #formpage .id_message {
            margin: auto;
            resize: none;
            width: 35vh;
            height: 180px;
            font-size: 12px;
        }
        
        #name input {
            width: 7em;
        }

        #ruby input {
            width: 7em;
        }

        .id_sender {
            width: 17em;
        }

        .id_tel_number {
            width: 17em;
        }

        .id_postal_code {
            width: 7.5em;
        }

        .id_todouhuken {
            width: 7.5em;
        }

        .id_sikucyouson {
            width: 15em;
        }

        .id_bannti {
            width: 15em;
        }

        .id_heyabangou {
            width: 15em;
        }

        .id_heyabangou {
            width: 15em;
        }
        .footer h1 {
            font-size: 1vw;
        }
    }

/* navbar */
nav {
    background-color: #87cefa;
    position: fixed;
}


nav #navbarNavAltMarkup {
    margin-top: 5px;
    padding-left: 1em;
}

.nav-link {
    text-decoration: underline;
}

.active {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}


@media screen and (min-width:768px) {
    nav .navbar-brand {
        padding: 0;
        margin: 0 18vw 0 3vh;
        font-size: 3.5vw;
        font-weight: bolder;
    }

    nav .nav-link {
        font-size: 2vw;
        margin-top: 0.5em;
    }
}

@media (max-width:768px) {
    nav {
        height: 85px;
    }
    nav .navbar-brand {
        padding: 0;
        margin: 0 18vw 0 3vh;
        font-size: 6vw;
        font-weight: bolder;
    }
    nav .nav-link {
        font-size: 3.5vw;
        margin-top: 0.3em;
        margin-left: 20px;
    }
    nav .navbar-toggler {
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    nav .navbar-toggler-icon {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    nav #navbarNavAltMarkup {
        background-color: #87cefa;
        padding-left: 0;
        width: 100vw;
        z-index: 5;
    }
}

/* toppage*/
header {
    position: relative;
}

header div {
    text-align: center;
}

header img {
    width: 97vw;
}

#toppage h4 { 
    text-align: start;
}

/* overview */
.overview table {
    margin: auto;
    width: 85vw;
}

.overview thead {
    text-align: center;
}

.overview table td, th {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}

/* 文字を中央に揃える */
#header-icon{
  width: 50px;
  color: rgb(255, 255, 255);
  margin-top: -20em;
  top: calc(50% - 0.5   m);
  text-align: center;
  font-weight: bold;
}

#header-title{
    margin-top: -1.5em;
    top: calc(50% - 0.5rem);
    text-align: center;
    font-weight: bold;
}

.card-img-overlay{
    padding: 0;
    top: calc(50% - 0.5rem);
    text-align: center;
    font-weight: bold;
}

p span {
    display: inline-block;
    font-size: 2.4vw;
}


/* service */
.service {
    margin-top: 5em;
}

.service img {
    width: 96vw;
}

.service .container div {
    display: flex;
    justify-content: center;
}

.service h4 {
    text-align: start;
    width: 80vw;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 2px;
}

.service span {
    display: inline-block;
}
/* recruitment */

.recruitment {
    margin: 6em 0em 6em 0em;
}

#img_div {
    text-align: center;
}

#img_div img {
    width: 96vw;
}

#recruitment_table {
    margin: auto;
    width: 85vw;
}

#recruitment_table thead {
    text-align: center;
}

#recruitment_table td, th {
    text-align: center;
    border: none;
    border: 2px solid rgb(0, 0, 0);
}

span{
    display: inline-block;
}

/* achievement */
#achievement img {
    width: 96vw;
}

/* #achievement h1 {
    padding: 1em 0 1em 0;
} */

#achievement .div-img {
    display: flex;
    justify-content: center;
}

#achievement h4 {
    margin-top: 1em;
    /* line-height: 2em; */
}

#achievement span {
    display: inline-block;
}

/* address */

.address {
    margin: 6em 0em 6em 0em;
}

/* .service-columns h1 {
    font-weight: bold;
    margin: 1em 0 1em 0;
} */

#address div iframe {
    display: block;
    margin: auto;
    width: 80vw;
    height: 45vw;
}

/* formpage */
.badge-required {
    color: rgb(215, 49, 49);
    padding: 3px;
    margin-left: 10px;
    font-size: 0.7em;
    border: solid;
    border-radius: 6px;
}

#formpage h1 {
    margin-bottom: 20px;
    display: block;
}

#formpage div {
    text-align: center;
}
#formpage img {
    width: 96vw;
}

#formpage h2 {
    padding: 15px 5px 0 5px;
    text-align: center;
    line-height: 1.5em;
}    

#formpage h2 span{
    display: inline-block;
    justify-content: center;
}

#id_select{
    margin-bottom: 5em;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

#id_select label{
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-top: 2em;
    font-size: 3vw;
    width: 15vw;
}

#id_select input{
    width: 20px;
    height: 20px;
}

#name label{
    font-size: 3vw;
}


#id_gender{
    margin-bottom: 5em;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

#id_gender label{
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    font-size: 3vw;
    width: 15vw;
}

#id_gender input{
    width: 20px;
    height: 20px;
}

.id_age {
    margin-top: 2em;
    width: 220px;
    height: 50px;
    font-size: 1.75em;
}

.id_sender {
    margin: auto;
    margin-top: 3em;
}

.id_tel_number {
    margin: auto;
    margin-top: 3em;
    margin-right: 1em;
}

.id_todouhuken {
    margin-left: 1em;
}

.id_sikucyouson {
    margin: auto;
}

.id_bannti {
    margin: auto;
}

.id_heyabangou {
    margin: auto;
}

#formpage button {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2em;
    width: 6em;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border: solid rgb(88, 88, 88) 2px;
    border-radius: 10px;
}
#apperance {
    margin-top: 2em;
}
.sentence {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.sentence span {
    display: inline-block;
}

#formpage_div {
    display: flex;
    justify-content: center;
}
#formpage_div img {
    width: 96vw;
}

/* footer */

.footer h1 {
    background-color: #87cefa;
    margin: 0;
}


/* form css */

div h2 {
    text-align: center;
}

.badge-required {
    color: rgb(215, 49, 49);
    padding: 3px;
    margin-left: 10px;
    font-size: 0.7em;
    border: solid;
    border-radius: 6px;
}
