{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>有限会社 和泉電設</title>
    <meta name="description" content="お客様に【安心 安全 丁寧かつ迅速】な対応をお届けするサービスを心掛けております。弊社の確かな経験と技術でさらなる安心安全をお届します。
    ">
    <meta name="keywords" content="
        電気設備,電気設備工事,泉州,工場の電気設備工事,公共建物の電気設備工事,デマンド監視システム,産業用太陽光発電システム工事,産業用蓄電池,
        ">
        <!-- オフィス改修工事,EVの急速充電スタンド工事,LED照明空調工事,防災工事,テレビアンテナ工事,LAN工事,空調設備工事,
        火災報知器設備工事,コンセント増設,オール電化工事,太陽光システムの取り付け,一般家庭向けEVの充電スタンド工事 -->
        <!-- default CSSstyle -->
    <link href="{% static 'css/sanitize.css' %}" rel="stylesheet">
    <!-- Bootstrap CSSstyle -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSSstyle -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen and (max-width:767px)">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    

</head>                 

<body>
    <!-- ナビゲーションバー -->
    {% include 'elements/navbar.html' %}
    
    <!-- トップページ -->
    {% include 'elements/toppage.html' %}
    <hr>
    <!-- 会社案内 -->
    {% include 'elements/overview.html' %}
    <hr>
    <!-- 交通アクセス -->
    {% include 'elements/address.html' %} 
    <hr>
    <!-- 事業内容 -->
    {% include 'elements/service.html' %}
    <hr>
    <!-- 採用情報 -->
    {% include 'elements/recruitment.html' %}
    <hr>
    <!-- 施工実績 -->
    {% include 'elements/achievement.html' %}
    <hr>
    <!-- お問い合せ -->
    {% include 'elements/formpage.html' %}

    <!-- フッター -->
    {% include 'elements/footer.html' %}

    <!-- Bootstrap -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
